@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}


.root-component {
    position: relative;
    padding-top: 40px;
}


#map{
    position:relative;
    width:100%;
    height: calc(100% - 60px);
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}
.user a {
    margin: 0;
    padding: 0;
 }
.user .profile-pic-thumb {
    width: 30px;
    height: 30px;
    border-radius: 20%;

}
.user .profile-name {
    display: inline-block;
    line-height: 60px;
    height: 60px;

}

.blue-card {
    background-color: #1F77D0;
}
.white-font {
    color: white;
    text-align: center;
}

.status-indicator.on {
    background-color: #47e310;
}
.status-indicator.off {
    background-color: #FF4A55;
}

.pointer {
    cursor: pointer;
}
.right-button {
    position: absolute;
    right: 20px;
    top: 9px;
}


.profile-description {
    font-size: 13px;
    color: #6e6e6f;
    padding-top: 10px;
}

.table tr.activity-ok {
    background-color: #ddffd3;
    /*cursor: pointer;*/
}
.table tr.activity-ok:hover {
    background-color: #94ff8f;
    /*cursor: pointer;*/
}
.table tr.activity-error {
    background-color: #ffe8ed;
    /*cursor: pointer;*/
}
.table tr.activity-error:hover {
    background-color: #ffacab;
    /*cursor: pointer;*/
}

.table tr.activity-warning {
    background-color: #fffb79;
    /*cursor: pointer;*/
}
.table tr.activity-warning:hover {
    background-color: #fff45b;
    /*cursor: pointer;*/
}
