<div class="main-content">
    <div class="container-fluid">

        <div class="col-md-3" >
            <a class="pointer" (click)="goBack()">
                <span class="icon-back"><span><i class="pe-icon pe-7s-angle-left pe-icon-back"></i>Go Back</span></span>
            </a>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12" [@newdevice]>
            <div class="card">
                <div class="header">
                    <h4 class="title">Add Device</h4>
                </div>
                <div class="content">
                    <form [formGroup]="addDeviceForm" novalidate (ngSubmit)="addDevice(addDeviceForm)">

                        <div class="col-md-12">
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label><b>Address</b></label>
                                    <input value={{device?.address}} type="text" class="form-control" formControlName="address">
                                    <small *ngIf="!addDeviceForm.controls.address.valid" class="text-danger">
                                        Address is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label><b>Device Vendor</b></label>
                                    <input value={{device?.device_vendor}} type="text" class="form-control" formControlName="device_vendor">
                                    <small *ngIf="!addDeviceForm.controls.device_vendor.valid" class="text-danger">
                                        Device Vendor is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label><b>Device Version</b></label>
                                    <input value={{device?.device_version}} type="text" class="form-control" formControlName="device_version">
                                    <small *ngIf="!addDeviceForm.controls.device_version.valid" class="text-danger">
                                        Device Version is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label><b>ID</b></label>
                                    <input type="text" class="form-control" formControlName="id">
                                    <small *ngIf="!addDeviceForm.controls.id.valid" class="text-danger">
                                        ID is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label><b>Kernel Version</b></label>
                                    <input value={{device?.kernel_version}} type="text" class="form-control" formControlName="kernel_version">
                                    <small *ngIf="!addDeviceForm.controls.kernel_version.valid" class="text-danger">
                                        Kernel Version is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label><b>Number of Applications</b></label>
                                    <input value={{device?.number_of_applications}} type="text" class="form-control" formControlName="number_of_applications">
                                    <small *ngIf="!addDeviceForm.controls.number_of_applications.valid" class="text-danger">
                                        Number of Applications is required.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label><b>OS Distribution</b></label>
                                    <input value={{device?.os_distribution}} type="text" class="form-control" formControlName="os_distribution">
                                    <small *ngIf="!addDeviceForm.controls.os_distribution.valid" class="text-danger">
                                        OS Distribution is required.
                                    </small>
                                </div>
                            </div>
                        <!--</div>-->

                        <!--<div class="col-md-12">-->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><b>System Information</b></label>
                                    <input value={{device?.system_info}} type="text" class="form-control" formControlName="system_info">
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label><b>Applications</b></label>
                                <div formArrayName="applications" class="panel panel-default">
                                    <div class="panel-body" >
                                        <div *ngFor="let application of addDeviceForm.controls.applications.controls; let i=index">
                                            <div [formGroupName]="i">
                                                <span class="pe-7s-close  pull-right" style="cursor: pointer" *ngIf="addDeviceForm.controls.applications.controls.length > 1" (click)="removeApplication(i)"></span>
                                                <div class="form-group col-xs-12">
                                                    <label>Application {{i + 1}}</label>
                                                    <input type="text" class="form-control" formControlName="application">
                                                    <small [hidden]="addDeviceForm.controls.applications.controls[i].controls.application.valid" class="text-danger">
                                                        Application is required
                                                    </small>
                                                </div>

                                            </div>
                                        </div>
                                     </div>
                                </div>
                                <div class="margin-20">
                                    <a (click)="addApplication()" style="cursor: pointer">
                                        Add another application +
                                    </a>
                                </div>
                            </div>



                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label><b>Installed Capabilities</b></label>
                                <div formArrayName="installed_capabilities" class="panel panel-default">
                                    <div class="panel-body" >
                                        <div *ngFor="let installed_capability of addDeviceForm.controls.installed_capabilities.controls; let i=index">
                                            <div [formGroupName]="i">
                                                <span class="pe-7s-close  pull-right" style="cursor: pointer" *ngIf="addDeviceForm.controls.installed_capabilities.controls.length > 1" (click)="removeInstalledCapability(i)"></span>
                                                <div class="form-group col-xs-12">
                                                    <label>Installed Capability {{i + 1}}</label>
                                                    <input type="text" class="form-control" formControlName="installed_capability">
                                                    <small [hidden]="addDeviceForm.controls.installed_capabilities.controls[i].controls.installed_capability.valid" class="text-danger">
                                                        Installed capability is required
                                                    </small>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="margin-20">
                                    <a (click)="addInstalledCapability()" style="cursor: pointer">
                                        Add another installed capability +
                                    </a>
                                </div>
                            </div>




                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <label><b>Used Capabilities</b></label>
                                <div formArrayName="used_capabilities" class="panel panel-default">
                                    <div class="panel-body" >
                                        <div *ngFor="let used_capability of addDeviceForm.controls.used_capabilities.controls; let i=index">
                                            <div [formGroupName]="i">
                                                <span class="pe-7s-close  pull-right" style="cursor: pointer" *ngIf="addDeviceForm.controls.used_capabilities.controls.length > 1" (click)="removeUsedCapability(i)"></span>
                                                <div class="form-group col-xs-12">
                                                    <label>Application ID {{i + 1}}</label>
                                                    <input type="text" class="form-control" formControlName="application_id">
                                                    <small [hidden]="addDeviceForm.controls.used_capabilities.controls[i].controls.application_id.valid" class="text-danger">
                                                        Application ID is required
                                                    </small>
                                                    <label>Capability ID {{i + 1}}</label>
                                                    <input type="text" class="form-control" formControlName="capability_id">
                                                    <small [hidden]="addDeviceForm.controls.used_capabilities.controls[i].controls.capability_id.valid" class="text-danger">
                                                        Capability ID is required
                                                    </small>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="margin-20">
                                    <a (click)="addUsedCapability()" style="cursor: pointer">
                                        Add another used capability +
                                    </a>
                                </div>
                            </div>

                            <!--odsazeni buttonu-->
                            <div class="col-xs-12"></div>


                         </div>


                        <a  *ngIf="device" routerLink="/device">
                            <button type="submit" class="btn btn-info btn-fill pull-right">Edit Device</button>
                        </a>
                        <a  *ngIf="!device" routerLink="/device">
                            <button type="submit" class="btn btn-info btn-fill pull-right" [disabled]="!addDeviceForm.valid">Add Device</button>
                        </a>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>