<div class="main-content">
    <div class="container-fluid">

        <div class="col-md-3" >
            <a routerLink="/device">
                <span class="icon-back"><span><i class="pe-icon pe-7s-angle-left pe-icon-back"></i>Return to the Devices&nbsp;</span></span>
            </a>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12" [@newdevice]>
            <div class="card">
                <div class="header">
                    <h4 class="title">Add Device</h4>
                </div>
                <div class="content">
                    <!--<form>-->
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label><b>Name of the Device</b></label>
                                    <input type="text" class="form-control" placeholder="A310">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label><b>Type of the Device</b></label>
                                    <input type="text" class="form-control" placeholder="RPi 3.0">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label><b>Location of the device</b></label>
                                    <input class="form-control" placeholder="Kitchen">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><b>Application</b></label>
                                    <input type="text" class="form-control" placeholder="Drag 'n Drop Application Here">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label><b>Additional Information</b></label>
                                    <textarea rows="5" class="form-control" placeholder="Additional description"></textarea>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/device">
                            <button type="submit" class="btn btn-info btn-fill pull-right">Add Device</button>
                        </a>
                        <div class="clearfix"></div>
                    <!--</form>-->
                </div>
            </div>
        </div>
    </div>
</div>