
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3" >
                <a routerLink="/staff">
                    <span class="icon-back"><span><i class="pe-icon pe-7s-angle-left pe-icon-back"></i>Return to the Dashboard</span></span>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3" [@photo]>
                <img class="profile-pic" src="../../../assets/img/250x250.png" alt="..."/>
            </div>
            <div class="col-md-9" [@description]>
                <div class="card contact-info">
                    <div class="header">
                        <h4 class="title">Information</h4>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-6">
                                <ul>
                                    <li>
                                        <i class="pe-icon pe-7s-user"></i><span>Fullname</span>
                                    </li>
                                    <li>
                                        <i class="pe-icon pe-7s-mail"></i><span>Email</span>
                                    </li>
                                    <li>
                                        <i class="pe-icon pe-7s-door-lock"></i><span>Rights</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-md-6">
                                <ul>
                                    <li>
                                        <span>Marek Hrvol</span>
                                    </li>
                                    <li>
                                        <span>mhrvol@seznam.cz</span>
                                    </li>
                                    <li>
                                        <span>Admin</span>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
