.profile-pic {
    width: 100%;
    border-radius: 20%;
    max-height: 250px;
    object-fit: cover;
    margin-bottom: 10px;
}

.font-staff-detail {
    text-align: left;
    border: 1px solid #e5e5e5;
    border-radius: 6px;
    margin: 15px 0;
}
.font-staff-detail:hover {
    background-color: #e9e9e9;
    cursor: pointer;
}
.font-staff-detail input{
    margin: 25px auto 0;
    width: 100%;
    text-align: center;
    display: block;
    color: #aaa;
    font-size: 13px;
}
.font-staff-detail .profile-pic-thumb {
    width: 70px;
    height: 70px;
    border-radius-bottomleft: 2px;
    border-radius-topleft: 2px;
    float: left;
    margin-right: 5px;
    object-fit: cover;
}
.font-staff-detail .inner {
    display: inline-block;
    vertical-align: top;
    padding-top: 5px;
}
.font-staff-detail .status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}


.font-staff-detail h6 {
    display: inline-block;
    vertical-align: top;
    padding-top: 2px;
    font-size: 14px;
    font-weight: 600;
}
.font-staff-detail p {
    font-size: 13px;
}
a {
    color: black;
}



.icon-back {
    position: absolute;
    top: 7px;
    left: 28px;
    padding-left: 0;
    padding-right: 6px;
    height: 25px;
    line-height: 25px;
    background-color: white;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    vertical-align: top;
}
.icon-back span {
    height:25px;
    line-height: 25px;
    display: inline-block;
    vertical-align: top;
}
.pe-icon-back {
    font-size: 26px;
}


.profile-status .title {
    margin-top: 0;
}
.my-status {
    padding-left: 35px;
    padding-top: 20px;
}





.card.contact-info {
    margin-top: 10px;
}
.contact-info ul {
    list-style: none;
    padding-left: 0;
}
.contact-info ul li {
    padding: 10px 0;
    padding-left: 0;
}
.contact-info ul li span {
    line-height:25px;
    height: 15px;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}

.contact-info ul li p {
    line-height:25px;
    height: 15px;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    font-size: 25px;
}
.contact-info .pe-icon {
    font-size: 25px;
}

.table i.type {
    font-size: 20px;
    position: relative;
    top: 5px;
    margin-right: 4px;
}
nav.my-pager {
    text-align: center;
}








.img-circle {

    width: 120px;
    height: 120px;
    border-radius: 20%;

}




a {
    color: black;
}





