

<div class="main-content" id="profile">
  <div class="container-fluid">
    <div class="row">
      <div class=" col-xs-12">
        <div class="col-xs-4">
          <a class="pointer"  (click)="goBack()" id="goback">
            <span class="icon-back"><span><i class="pe-icon pe-7s-angle-left pe-icon-back"></i>Go Back</span></span>
          </a>
        </div>
      </div>
    </div>
    <div class="row" [@description]>
      <div class="col-lg-3 col-md-5 col-sm-6 col-xs-12" id="information" >
        <img class="profile-pic" src="../../../assets/img/250x250.png" alt="..."/>
      </div>
      <div class="profile-status col-lg-9 col-md-7 col-sm-6 col-xs-12" >
        <h3 class="title">Username: {{user?.username}}</h3>
        <p class="category">Email: {{user?.email}}
          <span *ngIf="!user?.email_verified" style="color: red"> <br/> Please Verify your E-Mail!</span>
        </p>
        <p class="category">Last Logged In: {{user?.last_logged_in}}</p>
        <p class="profile-description">Welcome to the application.</p>
        <hr>
      </div>
    </div>
    <div class="card contact-info col-lg-3 col-md-5 col-sm-6 col-xs-12" [@settings]>
      <div class="header">
        <h4 class="title">Settings</h4>
      </div>
      <div class="content">
        <ul style="list-style-type: none;">
          <li (click)="toggleItem('device')" >
            <p>Show Add Device:
              <input  class="checkbox-profile" type="checkbox" [checked]="showDevice == 'true'" id="profile-add-device">
            </p>
          </li>
          <hr/>
          <li (click)="toggleItem('application')">
            <p>Show Add Application:
              <input  class="checkbox-profile" type="checkbox" [checked]="showApplication == 'true'" id="profile-add-application">
            </p>
          </li>
          <hr/>
          <li (click)="toggleItem('capability')">
            <p>Show Add Capability:
              <input  class="checkbox-profile" type="checkbox" [checked]="showCapability == 'true'" id="profile-add-capability">
            </p>
          </li>
          <hr/>
        </ul>
      </div>
    </div>
  </div>
</div>

