a { color: inherit; }

.table tr.activity-ok {
    background-color: #ddffd3;
    /*cursor: pointer;*/
}
.table tr.activity-ok:hover {
    background-color: #94ff8f;
    /*cursor: pointer;*/
}
.table tr.activity-error {
    background-color: #ffe8ed;
    /*cursor: pointer;*/
}
.table tr.activity-error:hover {
    background-color: #ffacab;
    /*cursor: pointer;*/
}

.table tr.activity-warning {
    background-color: #fffb79;
    /*cursor: pointer;*/
}
.table tr.activity-warning:hover {
    background-color: #fff45b;
    /*cursor: pointer;*/
}
.pe-icon {
  width: 20px;
}
.pe-icon.pe-7s-usb {
  padding-left:6px;
}

.pe-7s-info {
  padding-left: 3px;
  padding-top: 4px;
}
ul hr {
    padding: 0px;
    margin: 0px;
}

.pe-icon-back {
    font-size: 26px;
}
.icon-back span{
    /*position: absolute;*/
    /*top: 65px;*/
    /*left: 29px;*/
    /*padding-left: 0;*/
    /*padding-right: 6px;*/
    margin-bottom: 10px;
    height: 25px;
    line-height: 25px;
    background-color: white;
    -webkit-border-radius:6px;
    -moz-border-radius:6px;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    vertical-align: top;
}

.profile-pic {

    width: 100%;
    border-radius: 20%;
    max-height: 250px;
    max-width: 250px;
    display: block;
    margin: 0 auto;
  margin-bottom: 15px;
    object-fit: cover;
    padding-bottom: 5px;
}
 a button {
    margin-left: 5px;
}

.right-button {
    float: right;
    margin-right: 0px;
    margin-bottom: 5px;
}
.sorted{
    height: 13px;
    margin-bottom: 2px;
}


.product-tabs ul.nav li a, .product-tabs ul.nav li a:hover, .product-tabs ul.nav li a:focus{
    padding: 8px 13px 5px 14px;
    margin-bottom: 2px;
    outline: none !important;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 33px;
    border-radius: 5px;
    background-color: #FFFFFF;
}
.product-tabs ul.nav li a:hover {
    color: #cc0000;
}

.product-tabs ul.nav li a:focus {
    color: #AA0000;
}


.active-link {
    margin-bottom: -5px;

}

.active-link a, .active-link a:hover, .active-link a:focus{
    color: #FFFFFF !important;
    background-color: #cc0000 !important;
}


.product-tabs ul.nav li a span {
    font-weight: normal;
    border: 1px solid #d8d8d8;
    color: #4a4a4a;
    background-color: transparent;
    margin-right: 4px;
    margin-top: -1px;
}
.product-tabs ul.nav li a:hover span {
    border: 1px solid #ffffff;
    background-color: #d8d8d8;
}
.product-tabs ul.nav li.active a span {
    border: 1px solid #c70669;
    color: #ffffff;
    background-color: #c70669;
}
.product-tabs ul.nav li.active a:hover span {
    border: 1px solid #c70669;
    background-color: #c70669;
}

/*.nav.nav-tabs{*/
    /*margin: -10px -10px 0 -10px;*/
    /*padding: 10px 10px 0 10px;*/
/*}*/

.nav.nav-tabs>li>a {
    /*padding: 5px 10px 3px 10px;*/
    /*margin-bottom: 0;*/
    text-transform: uppercase;
    /*border-radius: 0;*/
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    position: relative;
}

span.icon-back span {
    padding-right: 8px;
}

/*.nav-option {*/
    /*background-color: #cc0000;*/
    /*border-radius: 4px;*/
    /*padding: 1px;*/
/*}*/

.maxwidth {
    max-width: 50px;
}

.pointer{cursor: pointer !important;}


.pager-align{
  float:right;
  position:relative;
  left:-37%;
  text-align:left;
}
.pager-align ul{
  list-style:none;
  position:relative;
  left:37%;
}

.info-with-icon {
  padding-left: 15px !important;
}

.info-without-icon {
  padding-left: 30px !important;
}


.checkbox-profile {
   width:20px;
  height:20px;
  float: right;
  margin-right: 20px;
}

.numberCircle {
  border-radius: 50%;
  /*behavior: url(PIE.htc); !* remove if you don't care about IE8 *!*/

  width: 36px;
  height: 36px;
  padding: 8px;

  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;

  font: 32px Arial, sans-serif;
  /*margin-left: 3px;*/
}

.numberCircle.ok {
  border: 3px solid #21ff21;
}

.numberCircle.ok:hover {
  border: 3px solid #666;

}

.numberCircle.error {
  border: 3px solid #ff2121;
}

.numberCircle > p {
  margin-top: -4px;
}


