/*.user a {*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

.user .no-margin {
    margin: 0;
    padding: 0;
}

.user .profile-pic-thumb {
    width: 30px;
    height: 30px;
    border-radius: 20%;

}
.user .profile-name {
    display: inline-block;
    line-height: 60px;
    height: 60px;

}