<a routerLink="/dashboard">
    <span class="icon-back"><i class="pe-icon pe-7s-angle-left pe-icon-back"></i><span>Return to the Application</span></span>
</a>

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Authors</h4>
            <p class="category">You can find information about creators of this project here</p>
        </div>
        <div class="content">
            <p class="description">Author: Marek Hrvol (mhrvol@seznam.cz, xhrvol00@stud.fit.vutbr.cz)</p>
            <p class="description">Project: Bachelor Thesis </p>
            <p class="description">Topic: IoT Application Deployment Platform</p>
            <p class="description">Updated: 09.01.2017</p>
            <p class="description">Study year: 3BIT 2016/2017</p>
        </div>
    </div>

    <div class="card">
        <div class="header">
            <h4 class="title">Autoři</h4>
            <p class="category">Zde naleznete informaci o autorech tohoto projektu</p>
        </div>
        <div class="content">
            <p class="description">Autor: Marek Hrvol (mhrvol@seznam.cz, xhrvol00@stud.fit.vutbr.cz)</p>
            <p class="description">Projekt: Bakalářská práce </p>
            <p class="description">Téma: Správa nahrávání aplikací na ARM zařízení</p>
            <p class="description">Poslední úpravy: 09.01.2017</p>
            <p class="description">Ročník: 3BIT 2016/2017</p>
        </div>
    </div>
</div>

