<div class="wrapper">
    <div class="sidebar" data-color="red" data-image="../img/redhat.jpg">


    	<div class="sidebar-wrapper">
            <div class="logo">
                <a routerLink="/dashboard" class="simple-text">
                    WISH?
                </a>
            </div>

            <ul class="nav">
                <li [routerLinkActive]="['active']">
                    <a routerLink="/dashboard">
                        <i class="pe-7s-graph"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a routerLink="/device">
                        <i class="pe-7s-config"></i>
                        <p>Devices</p>
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a routerLink="/events-log">
                        <i class="pe-7s-note2"></i>
                        <p>Events log</p>
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a routerLink="/device-add">
                        <i class="pe-7s-plus"></i>
                        <p>New device</p>
                    </a>
                </li>
                <li [routerLinkActive]="['active']">
                    <a routerLink="/about">
                        <i class="pe-7s-info"></i>
                        <p>About</p>
                    </a>
                </li>
                <li class="active active-pro">
                    <a>
                        <i class="pe-7s-clock"></i>
                        <p>{{ today | date: 'dd.MM.yyyy HH:mm:ss' }}</p>
                    </a>
                </li>
            </ul>
    	</div>
        <div class="sidebar-background" style="background-image: url(../img/redhat.jpg); display: block;"></div>
    </div>

    <div class="main-panel">
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <!--TODO: breadcrumb? stranka nebude tak slozita, nedelal bych-->

                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="user">
                            <a>
                                <img class="profile-pic-thumb" src="img/profile-marek.jpg" alt="..."/>
                                <span class="profile-name">Marek Hrvol</span>
                            </a>
                        </li>
                        <li>
                            <a>
                                Log out
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content root-component">
            <div class="container-fluid">
                <div class="row">

                    <router-outlet></router-outlet>

                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a routerLink="/about">
                                About
                            </a>
                        </li>
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; {{ today | date: 'yyyy' }} WISH - What is happening?
                </p>
            </div>
        </footer>


    </div>
</div>