
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Events log</h4>
            <p class="category">You can check events there!</p> <br>
        </div>
        <div class="content">
            <div class="row">
                <div class="col-md-6 ">
                    <div class="form-group">
                        <label><b>Search anything</b></label>
                        <input class="form-control" placeholder="Name, Type, Peripherals..." type="text">
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="form-group">
                        <label><b>Actions</b></label>
                        <select class="form-control" value="Present">
                            <option selected> All </option>
                            <option> Error </option>
                            <option> Warning </option>
                            <option> Error and Warning </option>
                            <option> OK </option>
                        </select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-3 ">
                    <div class="form-group">
                        <label><b>Name of the Device</b></label>
                        <input class="form-control" placeholder="A314" type="text">
                    </div>
                </div>

                <div class="col-md-3 ">
                    <div class="form-group">
                        <label><b>Type of the Device</b></label>
                        <input class="form-control" placeholder="A314" type="text">
                    </div>
                </div>

                <div class="col-md-3 ">
                    <div class="form-group">
                        <label><b>Location</b></label>
                        <input class="form-control" placeholder="A314" type="text">
                    </div>
                </div>

                <div class="col-md-3 ">
                    <div class="form-group">
                        <label><b>Peripherals</b></label>
                        <input class="form-control" placeholder="Mock" type="text">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




<div class="col-lg-12">
    <div class="card ">
        <div class="content">
            <div class="content table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr><th><b>Name</b></th>
                        <th><b>Type</b></th>
                        <th><b>Location</b></th>
                        <th><b>Peripherals</b></th>
                        <th><b>Application</b></th>
                        <th><b>Action</b></th>
                        <!--Todo: Pekny obrazek k action vytvorit --- cervene,zlute a zelene-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="activity-ok">
                        <td> A301 </td>
                        <td> RPi 3.0 </td>
                        <td> Kitchen </td>
                        <td> Mock </td>
                        <td> 1.0.0 Wish </td>
                        <td> OK </td>
                    </tr>
                    <tr class="activity-ok">
                        <td> A301 </td>
                        <td> RPi 3.0 </td>
                        <td> Kitchen </td>
                        <td> Mock </td>
                        <td> 1.0.0 Wish </td>
                        <td> OK </td>
                    </tr>
                    <tr class="activity-warning">
                        <td> A301 </td>
                        <td> RPi 3.0 </td>
                        <td> Kitchen </td>
                        <td> Mock </td>
                        <td> 1.0.0 Wish </td>
                        <td> WARNING </td>
                    </tr>
                    <tr class="activity-ok">
                        <td> A301 </td>
                        <td> RPi 3.0 </td>
                        <td> Kitchen </td>
                        <td> Mock </td>
                        <td> 1.0.0 Wish </td>
                        <td> OK </td>
                    </tr>
                    <tr class="activity-error">
                        <td> A301 </td>
                        <td> RPi 3.0 </td>
                        <td> Kitchen </td>
                        <td> Mock </td>
                        <td> 1.0.0 Wish </td>
                        <td> ERROR </td>
                    </tr>
                    <tr class="activity-ok">
                        <td> A301 </td>
                        <td> RPi 3.0 </td>
                        <td> Kitchen </td>
                        <td> Mock </td>
                        <td> 1.0.0 Wish </td>
                        <td> OK </td>
                    </tr>
                    <tr class="activity-ok">
                        <td> A301 </td>
                        <td> RPi 3.0 </td>
                        <td> Kitchen </td>
                        <td> Mock </td>
                        <td> 1.0.0 Wish </td>
                        <td> OK </td>
                    </tr>
                    <tr class="activity-ok">
                        <td> A301 </td>
                        <td> RPi 3.0 </td>
                        <td> Kitchen </td>
                        <td> Mock </td>
                        <td> 1.0.0 Wish </td>
                        <td> OK </td>
                    </tr>
                    <tr class="activity-ok">
                        <td> A301 </td>
                        <td> RPi 3.0 </td>
                        <td> Kitchen </td>
                        <td> Mock </td>
                        <td> 1.0.0 Wish </td>
                        <td> OK </td>
                    </tr>
                    <tr class="activity-ok">
                        <td> A301 </td>
                        <td> RPi 3.0 </td>
                        <td> Kitchen </td>
                        <td> Mock </td>
                        <td> 1.0.0 Wish </td>
                        <td> OK </td>
                    </tr>
                    </tbody>
                </table>
                <nav class="my-pager" aria-label="Page navigation">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" >1</a></li>
                        <li class="page-item"><a class="page-link" >2</a></li>
                        <li class="page-item"><a class="page-link" >3</a></li>
                        <li class="page-item">
                            <a class="page-link" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
