<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a routerLink="/dashboard">
                        Home
                    </a>
                </li>
                <li>
                    <a routerLink="/about">
                        About
                    </a>
                </li>

            </ul>
        </nav>
        <p class="copyright pull-right">
            &copy; {{ today | date: 'yyyy' }} WISH - What is happening?
        </p>
    </div>
</footer>
